/* Основной стиль для всего документа */
body {
    font-family: Arial, sans-serif;
    /* Шрифт для всего текста на странице */
    margin: 0;
    /* Убираем внешние отступы страницы */
    padding: 0;
    /* Убираем внутренние отступы страницы */
    background-color: #313131;
    /* Светло-серый фон страницы */
}

h1 {
    text-align: center;
    /* Выравнивание заголовка по центру */
    color: #575757;
    /* Темно-серый цвет текста заголовка */
    padding: 20px;
    /* Внутренние отступы для заголовка */
    margin: 0;
    /* Убираем внешние отступы для заголовка */
}

/* Стиль для основного контейнера */
.container {
    width: 80%;
    /* Ширина контейнера */
    max-width: 1200px;
    /* Максимальная ширина контейнера */
    margin: 0 auto;
    /* Центрируем контейнер по горизонтали */
    padding: 20px;
    /* Внутренние отступы для контейнера */
    background-color: #ffffff;
    /* Белый фон контейнера */
    border-radius: 8px;
    /* Скругляем углы контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Тень для контейнера */
}

/* Стиль для кнопки */
button {
    display: block;
    /* Блоковый элемент */
    width: 200px;
    /* Ширина кнопки */
    padding: 10px;
    /* Внутренние отступы кнопки */
    margin: 20px auto;
    /* Центрируем кнопку по горизонтали */
    background-color: #007bff;
    /* Синий фон кнопки */
    color: #ffffff;
    /* Белый цвет текста кнопки */
    border: none;
    /* Убираем границу кнопки */
    border-radius: 5px;
    /* Скругляем углы кнопки */
    font-size: 16px;
    /* Размер шрифта кнопки */
    cursor: pointer;
    /* Изменение курсора при наведении */
    transition: background-color 0.3s;
    /* Плавный переход для фона */
}

/* Стиль кнопки при наведении */
button:hover {
    background-color: #0056b3;
    /* Темнее синий фон при наведении */
}

/* Основной стиль для списка */
ul {
    list-style-type: none;
    /* Убираем маркеры списка */
    padding: 0;
    /* Убираем внутренние отступы */
    margin: 0;
    /* Убираем внешние отступы */
}

/* Стиль для элементов списка */
li {
    padding: 10px;
    /* Внутренние отступы для элементов списка */
    margin: 5px 0;
    /* Отступы между элементами списка */
    border-radius: 5px;
    /* Скругляем углы */
    font-size: 16px;
    /* Размер шрифта */
    transition: background-color 0.3s, color 0.3s;
    /* Плавные переходы для фона и цвета текста */
}

/* Стиль для компонентов, которые работают нормально */
.operational {
    color: #333333;
    /* Зеленый цвет текста */
    background-color: #E8F5E9;
    /* Светло-зеленый фон */
}

/* Стиль для компонентов с проблемами */
.non-operational {
    color: #4b4b4b;
    /* Белый цвет текста */
    background-color: #F44336;
    /* Красный фон */
    animation: blink 1s infinite;
    /* Анимация мигания */
}

/* Анимация мигания для проблемных элементов */
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}